@mixin gradientText {
    background: var(--gradient); 
 //    -webkit-background-clip: text;
 //    -webkit-text-fill-color:transparent ;
 padding:5px ;
 border-radius: 5px;
 }
 
 @mixin gradientText1 {
    background: var(--gradient); 
        -webkit-background-clip: text;
     -webkit-text-fill-color:transparent ;
 
 } 